

.lvtHeaderText
 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:bold;
	color:#000;
	text-align:left;
	padding-top:-10px;
	margin-left:10px;
	
}

.detailedViewHeader{

	border:1px solid #DDDDDD;
	padding:0px;
	background:  #dddcdd   url(images/inner.gif) bottom repeat-x; 
	color: #000000;
	margin-top:0px;
	
}

.dvtCellLabel, .cellLabel {
background:#F7F7F7 url(images/testsidebar.jpg) repeat-y scroll right center;
border-bottom:1px solid #dedede;
border-left:1px solid #DEDEDE;
border-right:1px solid #DEDEDE;
color:#545454;
 padding:7px 7px 7px 7px;
white-space:nowrap;text-align: right;
 width:18%
}

.dvtCellInfo, .cellInfo {
	padding:5px 5px 5px 5px;
	border-right:1px solid #dedede;
	border-left:1px solid #dedede;
	border-bottom: solid 1px #DEDEDE;
	width:30%
}

.dvtContentSpace {
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
	border-bottom:1px solid #dedede;
	border-top:1px solid #dedede;
	padding-left:0px;
	background-color:White;
	
	

	
}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #000000;
}

.big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	font-weight:bold;
	width:100%;
}

.dvtCellLabeltop, .cellLabel {
background:#F7F7F7 url(images/testsidebar.jpg) repeat-y scroll right center;
border-bottom:1px solid #DEDEDE;
border-left:1px solid #DEDEDE;
border-right:1px solid #DEDEDE;
border-top:1px solid #dedede;
color:#545454;
 padding:7px 7px 7px 7px;
white-space:nowrap;
width:10%;
}

.dvtCellInfotop, .cellInfo {
	padding:7px 7px 7px 7px;
	border-top:1px solid #dedede;
	border-bottom:1px solid #dedede;
	border-left:1px solid #dedede;
	border-top:1px solid #dedede;
	width:30%;
	
}

.dvtCellInfotop, .cellInfo1 {
	padding:7px 7px 7px 7px;
	border-bottom:1px solid #dedede;
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
	border-top:1px solid #dedede;
	 width:32%%;
}

.textbox
{
  width: 60% !important;
   border-width:1px; 
   height:20px; 
   padding: 2px 2px 2px 1px;
   color:black;
   font-size:12px; 
   border-radius:5px; 
   background-color:#f5f5f5; 
   border:1px solid #e0e0e0;
   text-transform:capitalize;
  
   }
   
   .textbox:focus { 
   outline: none !important;
   border:1px solid #e0e0e0;
    box-shadow: 0 0 5px #e0e0e0;
    background-color: #f7fcfe;
    }
   
   .search_textbox
{
   background-image:url('../images/search_icon.png');
   background-repeat:no-repeat;
   background-position:right;
   width:190px; 
   border-width:1px; 
   height:20px; 
   padding: 2px 2px 2px 5px;
   color:black;
   font-size:12px; 
   border-radius:5px; 
   background-color:#f5f5f5; 
   border:1px solid #e0e0e0;
   text-transform:capitalize;
  
   }
   
  .date_textbox
{
   background-image:url('../images/calendar.png');
   background-repeat:no-repeat;
   background-position:right;
   width:190px; 
   border-width:1px; 
   height:20px; 
   padding: 2px 2px 2px 5px;
   color:black;
   font-size:12px; 
   border-radius:5px; 
   background-color:#f5f5f5; 
   border:1px solid #e0e0e0;
  
   }
   
  .dropdown
   {
          
    border:1px solid gray;
    height:26px;
    padding: 2px 2px 2px 5px;
    color:black; 
    font-size:12px; 
    border-radius:5px;
    width:200px;
   }
   .dropdown:focus { 
    outline: none !important;
     border:1px solid #e0e0e0;
    box-shadow: 0 0 5px #e0e0e0;
    background-color: #f7fcfe;
    
    }

   
   
.buttonClass
{
    padding: 2px 20px;
    text-decoration: none;
    border: solid 1px 494949;
    background-color: #686868;
    color:#FFF;
    border-radius:3px;
    height:15px;
    width:100px;
    font-size:16px;
}
.buttonClass:hover
{
    border: solid 1px Black;
    background-color: #ffffff;
    border-radius:3px;
    height:15px;
    width:100px;
    font-size:16px;
}
   
 ------------------------------------------------------ 
 .mGrid_view {   
        width: 100%;   
        background-color: #000;   
        margin: 1px 0 1px 0;   
        border: solid 1px #525252;   
        border-collapse:collapse;   
    }  
    .mGrid_view td {  
        padding: 2px;   
        border: solid 1px #c1c1c1;   
        color: #000000;  
        font-size:9pt; 
        text-align:left; 
        padding-left:5px;
        padding-right:5px;
    }  
    .mGrid_view th {   
        color: #FFFFFF;   
        background: #656667;  
        border-left: solid 1px #525252;   
        font-size:10pt;   
        line-height:28px;
        text-align:left;
        padding-left:5px;
        padding-right:5px;    
    }  
       .mGrid_view .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
    .mGrid_view .pgr { background: #708090 url(grd_pgr.png) repeat-x top; }  
    .mGrid_view .pgr table { margin: 5px 0; }  
    .mGrid_view .pgr td {   
        border-width: 0;   
        padding: 0 6px;   
        border-left: solid 1px #666;   
        font-weight: bold;   
        color: #fff;   
        line-height: 12px;   
     }     
    .mGrid_view .pgr a { color: #FFFFFF; text-decoration: none; }  
    .mGrid_view .pgr a:hover { color: #FFFFFF; text-decoration: none; }   
    
    
    .wrap{width: 99.7%;}
    
    .padding_left{margin-left: 2%;}
    
    .tax_margin_left{margin-left: 1.6%;}
    
    .tax_border{border-bottom: 1px solid rgb(222, 222, 222);border-left: solid 1px #DEDEDE;
border-right: solid 1px #DEDEDE;}
    
    .create{width: 65%;
background-color: rgb(204, 204, 204);
padding: 9px 0px;
border: 1px solid rgb(188, 186, 186);}

.create_service_invoice{ width: 99.5%;}
 
.total_trasactions{width: 12%;} 


	.city{width: 61% !important;}

.client_left{width: 56%;
float: left;}	

.client_right{width: 40%;
float: right;}

.search{width: 27%;}

.create_new{width: 67%;
background-color: rgb(204, 204, 204);
padding: 10px 0px;
border: 1px solid rgb(189, 188, 188);}

.jobwork{margin: 0px;
padding: 10px 0px;}


.lead_report_left{width: 48%;
float: left;}


.lead_report_right{float: right;
width: 47%;}


.job_work_left{width: 48%;
float: left;}


.job_work_right{float: right;
width: 44%;}


.margin_top_1{margin-top: 7px;}
	
	
.job_list_left{ width: 288px; float:left;}

.job_list_right{ width:33%; float:right;}


.jobwork_view1{ width:30%; float:left;}
			
 .jobwork_view2{ width:30%; float:right;}   
 
 
 .job_td1{width: 38%;
padding-left: 13%;}
 
 .job_td2{width: 29%;}
 
 .job_td3{width: 51%;}
 
 .padding_left_job{padding-right: 4px;}
 
 
 @media only screen and (max-width:1153px) 
 {
     
     .job_td1 {
    width: 30%;
    padding-left: 0px;
}

.job_td2 {
    width: 35%;
}

.job_td3 {
    width: 51%;
}

     
     
     }
    

    


 