#div1
{
    float:left;
    width:30px;
    height:20px;
    border:1px groove gray;
}
#div2
{
    float:left;
    width:30px;
    height:20px;
    border:1px groove gray;
}
#div3
{
    float:left;
    width:30px;
    height:20px;
    border:1px groove gray;
}
#div4
{
    float:left;
    width:30px;
    height:20px;
    border:1px groove gray;
}

#div5
{
    float:left;
    width:30px;
    height:20px;
    border:1px groove gray;
}
#div6
{
    float:left;
    width:30px;
    height:20px;
    border:1px groove gray;
}
#div7
{
    float:left;
    width:30px;
    height:20px;
    border:1px groove gray;
}
