<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="SlickTicket" connectionString="Data Source=182.50.133.111;Initial Catalog=GADGETGOLD_CRM;uid=GADGETGOLD_CRM;pwd=GADGETGOLD_CRM_123" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" tempDirectory="G:\PleskVhosts\sagoni.com\tmp">
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

          ! <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <globalization culture="hi-IN" uiCulture="hi-IN" />
    <sessionState timeout="600" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="AdminLogin.aspx" />
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="G:\PleskVhosts\sagoni.com\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="G:\PleskVhosts\sagoni.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="G:\PleskVhosts\sagoni.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="G:\PleskVhosts\sagoni.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="G:\PleskVhosts\sagoni.com\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="G:\PleskVhosts\sagoni.com\error_docs\bad_gateway.html" />
    </httpErrors>
  </system.webServer>
</configuration>